@import '@fontsource/great-vibes/latin-400.css';
@import '@fontsource/cormorant-garamond/latin-400.css';
@import '@fontsource/cormorant-garamond/latin-600.css';
@import '@fontsource/cormorant-garamond/latin-700.css';
@import '@fontsource/montserrat/latin-400.css';
@import '@fontsource/montserrat/latin-500.css';
@import '@fontsource/montserrat/latin-600.css';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
}
